@media screen and (max-width : 768px) {
    /* NAVBAR START */

    ul {
        gap: 6px;
    }

    .navbar h3 {
        font-size: 1.4rem;
        font-weight: 300;
        letter-spacing: 1px;
    }

    .navbar ul li a {
        font-size: 1rem;
        font-weight: 300;
    }

    .navbar ul li a:hover {
        font-size: 1rem;
        font-weight: 300;
    }

    .navbar .btn {
        display: none;
    }
    
    /* NAVBAR END */

    /* ABOUT START */

    .top {
        flex-direction: column;
        justify-content: end;
        align-items: start;
        padding: 0;
        height: max-content;
    }

    .top-left {
        padding: 0 20px;
        height: 210px;
        width: 100%;
        justify-content: end;
    }

    .top-left h1 {
        font-size: 2rem;
    }

    .top-left h5 {
        font-size: 1.4rem;
    }

    .top-right {
        width: 100%;
    }

    .top-right img {
        width: 350px;
        margin-right: 50px;
    }

    .bottom {
        flex-direction: column;
        border-top: 2px solid #f15a5a;
        border-bottom: 2px solid #f15a5a;
    }

    .bottom h1 {
        font-size: 1.9rem;
        font-weight: 300;
    }

    .bottom p {
        font-size: 0.95rem;
        font-weight: 300;
        margin: 10px;
        text-align: center;
    }

    .about-us {
        padding: 40px 0;
    }

    .about-us .title {
        padding-bottom: 70px;
        font-size: 1.5rem;
    }

    .card {
        margin: 0;
        gap: 50px;
    }

    a .card-list {
        margin: 0;
        width: 300px;
        height: 380px;
    }

    .card-details h1 {
        font-size: 1.4rem;
    }
}
